name: Flutter Build Unsigned Debug

on: [push, pull_request]

jobs:
  build-app:
    name: Build Unsigned APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: '17.x'

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: stable

      - name: Cache pub dependencies
        uses: actions/cache@v2
        with:
          path: ${{ env.FLUTTER_HOME }}/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: ${{ runner.os }}-pub-

      - name: Download pub dependencies
        run: flutter pub get

      - name: Build Debug Build
        run: flutter build apk --debug --flavor core

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-core-debug.apk
          path: build/app/outputs/flutter-apk/app-core-debug.apk
          compression-level: 0