on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: -Xmx8g
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: '17.x'
      - name: Cache Android SDK
        uses: actions/cache@v4
        with:
          path: /usr/local/lib/android
          key: android-sdk-${{ runner.os }}-${{ hashFiles('android/app/build.gradle') }}
          restore-keys: |
            android-sdk-${{ runner.os }}-
      - name: Setup Flutter
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: latest
          cache: true
      - run: flutter --version
      - run: flutter pub get
      - run: flutter build apk --debug --flavor unsigned

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Setup Flutter
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: latest
          cache: true
      - name: Run Flutter tests
        run: |
          flutter pub get
          flutter test

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: latest
          cache: true
      - name: Check Dart Format
        run: |
          flutter pub get
          dart format --set-exit-if-changed .
